<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/styles.css")
        title index
    body
        h1.title Simple modal
        button.button Open modal
        #modal.modal
            .modal__content
                p.modal__paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, accusantium fugiat et quidem quam quos neque dolorum assumenda iure, sequi rerum! Illo quisquam quidem quam veniam veritatis et, eos cum?
                p.modal__paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, accusantium fugiat et quidem quam quos neque dolorum assumenda iure, sequi rerum! Illo quisquam quidem quam veniam veritatis et, eos cum?
                p.modal__paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, accusantium fugiat et quidem quam quos neque dolorum assumenda iure, sequi rerum! Illo quisquam quidem quam veniam veritatis et, eos
            
        script(src="js/scripts-min.js")